.documentationRoot {
	font-family: sans-serif;
	margin:0;
	padding:0;
	padding-left:280px;
	position:relative;
}

body {
	background: white;
}

#sidebar {
	position:fixed;
	left:0;
	top:0;
	height:100%;

	/* background: rgb(122, 125, 129);
	background: linear-gradient(to left,
		rgb(112, 112, 112) 0%, rgb(122, 125, 129) 7%, rgb(122, 125, 129) 100%
	);
  */
  /* background-color: #292C31; */
  /* background-color: #4F5153; */
  background-color: #4c4f55;
  /* background-color: #993131; */

	width: 280px;
	font-size: 14pt;
	overflow-x:auto;
  overflow-y:scroll;
  color: white;
	/* border-right: 1px solid #555; */
}

@media (min-width: 600px) and (max-width: 1120px) {
	#sidebar {
		width:25%;
	}
	.documentationRoot {
		padding-left:25%;
	}
}

@media (max-width: 600px) {
	#sidebar {
		display:none;
	}
	.documentationRoot {
		padding-left:0;
	}
}


.hidden {
	display:none;
}

.loading {
	z-index: 10;
	position:fixed;
	bottom:2em;
	right:0;
	background: #fff;
	padding:0.4em 0.5em 0.4em 1em;
	border-radius: 5em;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	background: rgb(124, 66, 66);
	color: rgb(221, 187, 187);
	font-weight:bold;
}

h1 {
	margin:0;
}

.trigger {
	float:right;
}

.popupContainer {
	z-index: 5;
	position: relative;
	top:10px;
}

.trigger button {
	font-size:1.2em;
	padding: 0.2em 0.75em;
}

.trigger button * {
	line-height: 1.4em;
}

.overlay {
	opacity: 0.7;
	z-index: 1;
}

.overlay-error {
	opacity: 0.9;
	z-index: 99;
}

.error-contents {
	z-index: 100;
	color: white;
	font-size:1.2em;
	padding: 2em;
	padding-top:5em;
	position: absolute;
	top:0;
	left:0;
}

.mb-main {
	padding: 15px;
}

.breadcrumbs {
  font-family: "PT Serif";
  /* margin-top: 5px; */
	font-size: 36px;
	line-height: 1.2em;
	min-height:1.2em;
	padding: 5px 15px;
	/* color: white; */
	/* background: #e43636; */
}

.breadcrumbs .leaf {
	/* font-weight: bold; */
  color: #55606A;
}

.breadcrumbs .version {
	/* float:right; */
	font-size:14px;
  line-height: 1.3em;
  color: #aaa;
  font-family: sans-serif;
	/* color: rgba(255, 255, 255, 0.77); */
}

.breadcrumbs a {
	/* color: rgba(255, 255, 255, 0.9) !important; */
}

.breadcrumbs .sep {
	/* opacity: 0.5; */
  color: #55606A;
}

.header {
	padding: 0 15px;
	margin:0;
  margin-top: 40px;
	background: #fff;
}

.header h1 {
	color: rgba(0,0,0,0.6);
	padding: 15px 0;
}
.header:before, .header:after {
	content:'';
	line-height:0;
	display:table;
}

.header button {
	/* background-color:rgba(0, 0, 0, 0.25); */
  background-color: #e43636;
	color:white !important;
}

.header button:hover {
  background-color: #e12020;
	/* background-color:rgba(0, 0, 0, 0.5); */
}

#sidebar .active {
	/* background: rgba(53, 58, 63, 0.37); */
  /* background: rgba(0, 0, 0, 0.1); */
  background: rgba(255, 255, 255, 0.2);
	font-weight:bold;
}
#sidebar .active-children {
	/* font-size:0.8em; */
	margin: 0.1em 0 1em 1.2em;
}
#sidebar .active-children li {
	padding: 0;
}
#sidebar a {
	color: rgba(255, 255, 255, 0.9);
	font-weight:normal;
}
#sidebar li {
	list-style-type: none;
	padding: 0.2em 0 0.2em 0.3em;
}
#sidebar ul {
	padding-top:0.2em;
	padding-left: 0.4em;
	position:relative;
	padding-bottom: 0em;
	margin-bottom: 0.2em;
}

#sidebar::-webkit-scrollbar
{
  width: 8pt;
  height: 8pt;
}

#sidebar::-webkit-scrollbar-thumb
{
  border-radius:10px;
  background: rgba(255, 255, 255, 0.4);
}

#sidebar::-webkit-scrollbar-corner
{
  background: transparent;
}

.alert {
  border: 1px solid rgb(240,237,158);
  background-color: rgb(255,253,208);
  color: #777;
  margin:15px 15px 0px 15px;
  padding-top:4px;
  padding-bottom:4px;
}
