body {
	font-family: sans-serif;
	margin:0;
	padding:0;
	padding-left:281px;
}

.hidden {
	display:none;
}

.loading {
	z-index: 10;
	position:fixed;
	bottom:2em;
	right:0;
	background: #fff;
	padding:0.4em 0.5em 0.4em 1em;
	border-radius: 5em;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	background: rgb(216, 135, 135);
	color: rgb(134, 74, 74);
	font-weight:bold;
}

h1 {
	margin:0;
}

.searchTrigger {
	float:right;
}

.searchContainer {
	z-index: 5;
}

.searchTrigger button.search {
	font-size:1.2em;
	line-height: 1.4em;
	padding: 0.2em 0.75em;
}

.overlay {
	opacity: 0.7;
	z-index: 1;
}

.overlay-error {
	opacity: 0.9;
	z-index: 99;
}

.error-contents {
	z-index: 100;
	color: white;
	font-size:1.2em;
	padding: 2em;
	padding-top:5em;
	position: absolute;
	top:0;
	left:0;
}

.mb-main {
	padding: 15px;
	min-width:600px;
}

.breadcrumbs {
	font-size: 2em;
	line-height: 1.2em;
	min-height:1.2em;
	background: rgb(80, 98, 124);
	padding: 5px 15px;
	color: white;
}

.breadcrumbs .leaf {
	font-weight: bold;
}

.breadcrumbs a {
	color: rgb(220, 229, 235) !important;
}

.breadcrumbs .sep {
	opacity: 0.5;
}

#sidebar {
	position:fixed;
	left:0;
	top:0;
	height:100%;

	background: rgb(122, 125, 129);
	width: 280px;
	color: white;
	font-size: 14pt;
	overflow:auto;
	border-right: 1px solid #555;
}
#sidebar .active {
	background: rgb(95, 100, 105);
	color: white;
	font-weight:bold;
}
#sidebar .active-children {
	font-size:0.8em;
	margin: 0.1em 0 1em 1.2em;
}
#sidebar .active-children li {
	padding: 0;
}
#sidebar a {
	color: #eee;
	font-weight:normal;
}
#sidebar li {
	list-style-type: none;
	padding: 0.2em 0 0.2em 0.3em;
}
#sidebar ul {
	padding-top:0.2em;
	margin-left: 0.4em;
	position:relative;
	padding-bottom: 0em;
	margin-bottom: 0.2em;
}

#sidebar::-webkit-scrollbar
{
  width: 8pt;
  height: 8pt;
}

#sidebar::-webkit-scrollbar-thumb
{
  border-radius:10px;
  background: rgba(0, 0, 0, 0.4);
}
