body {
	max-width: 1300px;
	min-width: 800px;
}

.filename {
	position:absolute;
	top:0;
	right:0;
	padding: 0.2em 1em 0.4em 1em;
	border-bottom-left-radius: 0.5em;
	color: rgb(93, 111, 134);
	background: rgb(203, 231, 238);
}
pre {
	position:relative;
}

pre code {
	background: transparent !important;
	padding: 0 !important;
}

.content {
	margin-right: 36%;
	width: 58%;
	margin-left: 4%;
}

.content p {
	font-size: 1.1em;
	line-height: 1.5em;
}

.info {
	width: 30%;
	float: right;
	margin-right: 4%;
	border: 1px solid rgb(240, 237, 158);
	background: rgb(255, 253, 208);
	clear: both;
	margin-bottom: 1em;
	padding: 0 0.5em;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.14);
}

.info h1, .info h2, .info h3 {
	margin: 0 5px;
}

.info h3:after {
	float:right;
	font-size:0.6em;
	font-weight: normal;
	color: rgb(182, 180, 162);
}

h3.feature:after {
	content:"(feature)";
}

h3.syntax:after {
	content:"(syntax)";
}

h1, h2, h3 {
	clear: both;
}

