table {
	width:100%;
}
td {
	vertical-align:top;
	padding-left:1em;
}
td:first-child {
	padding-left:0;
}

.interactive {
	border: 1px solid rgb(240, 237, 158);
	background: rgb(255, 253, 208);
	padding: 0 0.5em;
	padding-top: 1em;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.14);
}

ul {
	list-style-type:none;
	margin:0;
}

